/* ComponentsCSS/Header.css */
.header {
  position:fixed;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 80px;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 120px; 
  height: auto;
}

.menuButton {
  display: none; 
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 20px;
}

.menuButton .bar {
  background-color: #fff;
  height: 3px;
  width: 100%;
  position: absolute;
  transition: all 0.3s ease;
}

.menuButton .bar:nth-child(1) {
  top: 0;
}

.menuButton .bar:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.menuButton .bar:nth-child(3) {
  bottom: 0;
}

.menuButton.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menuButton.open .bar:nth-child(2) {
  opacity: 0;
}

.menuButton.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Desktop styles */
.menu {
  display: flex;
}

.menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 0 1rem;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

/* Mobile styles */
@media (max-width: 768px) {
  .menu {
    display: none; /* Hide menu by default on mobile */
    position: absolute;
    top: 60px; /* Adjust based on header height */
    left: 0;
    width: 100%;
    background-color: #333;
    flex-direction: column;
    z-index: 100; /* Ensure the menu is above other content */
    transition: transform 0.3s ease;
    transform: translateY(-100%);
  }

  .menu.open {
    display: flex; /* Show menu when open */
    transform: translateY(0);
  }

  .menu ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .menu li {
    padding: 0.5rem 0;
    text-align: center;
    opacity: 0; /* Hidden by default */
    transform: translateY(-20px); /* Start from above */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Animation */
  }

  .menu.open li {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Slide up */
  }

  .menuButton {
    display: block; /* Show hamburger menu button on mobile */
  }
  /* Alternate colors for menu items */
  .menu li:nth-child(odd) {
    background-color: #444; /* Darker background for odd items */
  }

  .menu li:nth-child(even) {
    background-color: #555; /* Slightly lighter background for even items */
  }
}
